aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
alabaster
altair==4.1.0
appdirs==1.4.4
argh==0.26.2
argon2-cffi
asn1crypto
astor==0.8.1
astroid
async-generator
async-timeout==3.0.1
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.tempfile
backports.weakref==1.0.post1
base58==2.1.0
bcrypt
beautifulsoup4
billiard==3.6.3.0
bitarray
bkcharts==0.2
black==19.10b0
bleach
blessings==1.7
blinker==1.4
bokeh
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.2.1
catboost==0.25
category-encoders==2.2.2
certifi==2020.12.5
cffi
chardet
click
cloudpickle
coala-utils==0.5.1
colorama
colorful==0.5.4
comtypes==1.1.8
contextlib2==0.6.0.post1
cryptography
cycler==0.10.0
Cython
cytoolz==0.11.0
decorator
defusedxml
diff-match-patch
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock
flake8
Flask
Flask-MySQLdb==0.2.0
fsspec
future==0.18.2
geographiclib==1.50
geopy==2.1.0
gevent
gitdb==4.0.5
GitPython==3.1.13
glob2
gmpy2==2.0.8
google-api-core==1.26.1
google-auth==1.27.1
googleapis-common-protos==1.53.0
gpustat==0.6.0
graphviz==0.16
greenlet
grpcio==1.36.1
gunicorn==20.1.0
h5py==2.10.0
HeapDict==1.0.1
heroku==0.1.4
heroku3==4.2.3
hiredis==1.1.0
html5lib
ibm-db==3.0.3
idna
imageio
imagesize
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata
iniconfig
intervaltree
ipykernel
ipywidgets
isort
itsdangerous
jdcal==1.4.1
jedi 
Jinja2
joblib
json5==0.9.5
jsonschema
jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-core
jupyterlab==2.2.6
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
lazy-object-proxy
libarchive-c
lightgbm==3.1.1
littleutils==0.2.2
llvmlite==0.35.0
locket==0.2.1
lux==0.8.2
lux-api==0.2.3
lxml
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mock
more-itertools
mpmath==1.1.0
msgpack
multidict==5.1.0
multipledispatch==0.6.0
multitasking==0.0.9
mypy-extensions==0.4.3
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.23
mysqlclient==2.0.3
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numba==0.52.0
numexpr
numpy
numpydoc
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencensus==0.7.12
opencensus-context==0.1.2
openpyxl
outdated==0.2.0
packaging
pandas
pandas-flavor==0.2.0
pandocfilters
paramiko
parso==0.7.0
partd==1.1.0
path
pathlib2
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect
pickleshare
Pillow
pingouin==0.3.9
pkginfo==1.7.0
plotly==4.14.3
pluggy==0.13.1
ply==3.11
prettytable
prometheus-client
prompt-toolkit
protobuf==3.14.0
psutil
psycopg2==2.8.6
ptyprocess
pulsar==2.0.2
pulsar-odm==0.7.0
py
py-spy==0.3.4
pyaml==20.4.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle
pycosat==0.6.3
pycparser
pycurl==7.43.0.6
pydeck==0.6.1
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT==2.0.1
pylint
pyls-black
pyls-spyder
PyNaCl
pyOpenSSL
pyparsing
pyreadline==2.1
pyrsistent
PySocks
pytest==6.2.2
python-dateutil 
python-engineio==4.0.0
python-jsonrpc-server 
python-language-server 
python-sql==1.2.1
pytz 
PyWavelets 
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome 
qtconsole 
QtPy==1.9.0
ray==1.2.0
redis==3.5.3
regex 
requests 
requests-oauthlib==1.3.0
retrying==1.3.3
rope 
rsa==4.7.2
ruamel-yaml==0.15.87
sacremoses==0.0.43
Sastrawi==1.0.1
scikit-image==0.17.2
scikit-learn 
scikit-optimize==0.8.1
scipy 
seaborn 
Send2Trash 
shap==0.38.1
simplegeneric==0.8.1
singledispatch 
sip==4.19.13
six 
slicer==0.0.7
smmap==3.0.5
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
sql==0.4.0
SQLAlchemy 
sqlparse 
statsmodels==0.12.2
streamlit==0.76.0
sympy 
tables==3.6.1
tabulate==0.8.7
tblib 
tensorboardX==2.1
terminado==0.9.2
testpath
textdistance 
threadpoolctl 
three-merge 
ticker==0.13
tifffile==2020.10.1
tokenizers==0.9.4
toml 
toolz 
torch==1.7.1
tornado 
tqdm 
traitlets 
transformers==4.2.1
tune-sklearn==0.2.1
tweepy==3.10.0
twitterscraper==1.6.1
typed-ast 
typing-extensions 
tzlocal==2.1
ujson 
unicodecsv==0.14.1
urllib3
validators==0.18.2
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug 
widgetsnbextension==3.5.1
win-inet-pton 
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
xarray==0.16.2
xgboost==1.3.3
xlrd 
XlsxWriter 
xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0
yapf 
yarl==1.6.3
yfinance==0.1.55
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
